*{box-sizing: border-box;} /*Узнать что эти и зачем */

body{
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}

p{
    font-size: 18px;
    line-height: 29px;
}

h2{
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: #212353;
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none; 
}
.header{
    /* height: 100vh; */
    /* height: 804px; */
    margin-bottom: 100px;
    padding-top: 50px;
    /* background-color: yellow; */
}

.container{
    max-width: 1117px;
    margin: 0 auto;
    padding: 0 15px;
    /* background-color: violet; */
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    /* background-color: whitesmoke; */
}

.nav-left{
    display: flex;
    align-items: center;
}

.header-logo{
    padding-right: 100px;
}

.menu{
    display: flex;
    min-width: 322px;
    justify-content: space-between;
    align-items: center;
}

.menu li a{
    padding: 0 20px;
    color: #4B5D68;
}

.menu li a:hover{
    font-weight: 800;
    color: #212353;
}

/* .request-demo-button{
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);   
    transition: box-shadow .5s;
} */

.request-demo-button {
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);   
    transition: box-shadow .5s;
    font-weight: 800;
    color: #212353;
    width: 210px;
    padding: 17px 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-demo-button:hover{
    box-shadow: 0px 2px 2px rgba(75, 93, 104, 0.1);
}


.right-arrow{
    display: inline-block;
    width: 22px;
    height: 16px;
    background-image: url(../images/arrow.svg);
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 564px;
    position: relative;
}

.header-content_left{
    z-index: 2;
    /* border: 1px black solid; */
    width: 645px;
    position: absolute;
    top: 0;
    left: 0;
}

.header-content_right{
    /* border: 1px black solid; */
    margin-right: -150px;
    width: 885px;
    position: relative;
    right: 0;
    bottom: 0;
    position: absolute;
}



.header-content_left h1{
    font-weight: 800;
    font-size: 80px;
    line-height: 88px;
    color: #212353;
    margin-top: 0;
    margin-bottom: 50px;
}

.header-content_left p{
    font-size: 18px;
    line-height: 29px;
    width: 380px;
    margin-bottom: 50px;
}

.learn-more-button{
    width: 170px;
    background: #9C69E2;
    border-radius: 50px;
    /* border: 1px black solid; */
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    padding: 16px 37px;
}

.description{
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    height: 560px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
}

.description__text {
    padding-left: 62px;
}

/* .description__text h2{
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: #212353;
} */

.description__text p {
    width: 474px;
    /* font-size: 18px;
    line-height: 29px; */
    /* text-align: justify; */
}

.features{
    /* background-color: yellow; */
    margin-bottom: 100px;
}

.features-title{
    /* background-color: violet; */
    text-align: center;
}

.features-title h2{
    margin-bottom: 50px;
}

.features-title p {
    padding-bottom: 70px;
    width: 584px;
    margin: 0 auto;
}

.features-content{
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-content__box{
    /* border: 1px black solid; */
    width: 531px;
    height: 350px;
    /* background: #68C9BA; */
    margin-bottom: 50px;
    border-radius: 50px;
    position: relative;
}

.features-content__box__wrapper{
    height: 260px;
    width: 230px;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    margin-top: 45px;
    margin-right: 45px;
}

.features-content__title{
    font-size: 24px;
    line-height: 31px;
    color: #212353;
}

.features-content__text{
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}

.features-content__learn_more a{
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #212353;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px;
}

.features-content__search_data{
    background-image: url(../images/search\ data\ back.png);
}

.features-content__24_hours{
    background-image: url(../images/24\ hours\ back.png);
}

.features-content__print_out {
    background-image: url(../images/print\ out\ back.png);
}
.features-content__security_code{
    background-image: url(../images/security\ code\ back.png);
}

.testimonials{
    height: 709px;
    border-radius: 50px;
    margin-bottom: 150px;
    background: #9C69E2;
}

.testimonials_title{
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    padding-top: 109px;
    padding-left: 93px;
    margin-bottom: 70px;
}


/* SLIDER */
/* SLIDER */
/* SLIDER */


.slider{ 
    /* display: flex;
    justify-content: space-evenly; */
    width: 994px;
    height: 360px;
    margin: auto;
    margin-left: 93px;
    /* border: 1px solid black; */
}

.slider__item{
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(117, 29, 236, 0.3);
    border-radius: 20px;
    min-width: 645px;
    min-height: 330px !important;
    margin: 0 10px;
    margin-bottom: 40px;
    /* background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%); */
}

.slider__wrapper{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    width: 505px;
    height: 220px;
    margin: 60px auto;
}

.slider__item__profile-avatar {
    width: 90px;
    height: 90px;
}

.slider__item__content {
    align-self: center;
}

.name{
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.005em;
    color: #212353;
}

.position{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #9C69E2;
    margin-bottom: 20px;
}

.text{
    width: 390px;
    font-size: 18px;
    line-height: 32px;
    color: #4B5D68;
}



/* SLIDER ARROWS */
/* SLIDER ARROWS */
/* SLIDER ARROWS */



/* МОИ СТРАДАНИЯ */

/*.slick-prev, .slick-next{
    font-size: 0;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
} 

.slick-prev {
    /* left: 900px; */
    /*left: 825px;
}

.slick-next { 
    /* right: 0; */
    /*right: 75px;
}

.slick-prev:before {
    content: url(..//images/LeftArrow.png);
}

.slick-next:before {
    content: url(..//images/RightArrow.png);
} */


/*СТРАДАНИЯ НОМЕР 2 */

.slider-navigation{
    /* border: 1px solid black; */
    width: 994px;
    margin-left: 93px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.slider-navigation__arrows{
    padding-top: 5px;
    margin-right: 75px;
    /* border: 1px solid black; */
}

.slick-prev, .slick-next{
    font-size: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
} 

.slick-prev:before {
    content: url(..//images/LeftArrow.png);
}

.slick-next:before {
    content: url(..//images/RightArrow.png);
}

/* ОРИГИНАЛ */


/*.slick-prev {
    left: -25px;
}

.slick-prev, .slick-next {
    background-color: blue;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next {
    right: -25px;
}

.slick-arrow button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.slick-prev:before {
    content: '←';
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next:before {
    content: '→';
} 






/* SLIDER DOTS */
/* SLIDER DOTS */
/* SLIDER DOTS */


.slick-dots button {
    width: 5px;
    height: 5px; 
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    outline: none; /*убирает синий аутлайн при нажатие на кнопку */
}

.slick-dots .slick-active button {
    background-color: #F063B8;
    width: 10px;
    height: 10px;
} 

.slick-dots{
    margin: 0;
    padding: 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}


/* FOOTER */
/* FOOTER */
/* FOOTER */

/*.footer{
    /* background-color: chartreuse; */
/*}*/

.footer-callout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 100px;
}

.footer-callout__text h2{
    margin: 0;
}

.footer-callout__btn{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-items: center;
}

.footer-callout__btn__right a{
    background: #F063B8;
    margin-right: 30px;
    padding: 20px 37px
}


.footer-content{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* flex:1; */
    align-items: baseline;
    margin-bottom: 100px;
}

.footer-content__address{
    flex: 0.3;
}

.footer-content__address .footer-logo div{
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    color: #212353;
}

.footer-logo{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 67px;
}

.footer-logo .logo {
    padding-right: 20px;
}

.address{
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #212353;
    margin-bottom: 10px;
}

.contacts{
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #212353;
}

.footer-content__info{
    display: flex;
    justify-content: space-between;
    flex: 0.4;
}

.footer-content__info__Help a, .footer-content__info__About a{
    font-size: 16px;
    line-height: 40px;
    color: #212353;
}

/*.footer-content__social-media{
    /* flex: 1; */
/*}*/

.footer-content__titles{
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #212353;
    margin-bottom: 30px;
}

/* .social-media__icons{
    display: flex;
} */
.social-media__icons a{
    padding-right: 14px;
}

.footer-copyright{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright__copy{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #212353;
    flex: 0.3;
}

.footer-copyright__message{
    flex: 0;
}
